@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

html {
    font-family: poppins;
}

h1 {
    margin-top: 119px;
}

body {
    width: 360px;
    height: 900px;
}

form {
    height: 130px;
    position: relative;
}

.text {
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: rgba(47, 137, 252, 1);
}

#showPSW {
    position: absolute;
    top: 94px;
    left: 275px;
    cursor: pointer;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.title {
    width: 194px;
    height: 72px;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
}

#userID,
#userPSW {
    width: 312px;
    height: 48px;
    border-radius: 10px;
    border: 1px solid #00000066;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
}

button {
    width: 312px;
    height: 48px;
    top: 411px;
    left: 24px;
    border-radius: 5px;
    background: rgba(14, 100, 210, 1);
    border: none;
    color: rgba(255, 255, 255, 0.9);
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0em;
}

#login-button {
    display: block;
}

#gg-btn {
    color: rgba(0, 0, 0, 0.4);
    background-color: rgba(255, 255, 255, 0.02);
    border: 1px solid rgba(0, 0, 0, 0.4)
}

.or {
    flex-direction: row;
    width: 320px;
    justify-content: space-between;
    font-weight: 400px;
}

#line {
    width: 140px;
}

#btn-space {
    width: 26px;
}

footer {
    flex-direction: row;
    display: flex;
    justify-content: flex-start;
    width: 310px;
    align-items: center;
    margin-top: 80px;
}

#founder {
    width: 138px;
    height: 36px;
    opacity: 50%;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
}