@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

html {
    font-family: Poppins;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.flex-calculator {
    flex-direction: row;
    width: 450px;
    height: 100px;
    align-items: center;
}

section {
    border: 15px;
    border-radius: 5%;
    border-style: solid;
    border-color: gray;
    background: rgb(24, 24, 24);
    width: 500px;
    height: 600px;
}

.version {
    font-size: 11px;
    color: grey;
    margin-left: 30px;
}

#result {
    background-color: inherit;
    border: none;
    text-align: right;
    font-size: 60px;
    color: white;
    margin-right: 40px;
}

.calculator {
    align-items: center;
    height: 360px;
}

.white-bg,
.grey-bg,
.orange-bg {
    background-color: rgb(232, 227, 227);
    width: 85px;
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.orange-bg:hover {
    opacity: 80%;
}

.grey-bg:hover {
    opacity: 80%;
}

.white-bg:hover {
    opacity: 80%;
}

.grey-bg {
    background-color: grey;
}

.orange-bg {
    background-color: orangered;
    width: 297px;
}

.dot-bg {
    display: flex;
    width: 145px;
    justify-content: flex-end;
    flex-direction: row;
}

.white-button,
.grey-button,
.orange-button,
.clear-button {
    width: 60px;
    height: 60px;
    font-size: 30px;
    background-color: inherit;
    border-radius: 40px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 4px 10px 5px, rgba(0, 0, 0, 0.56) 0px 0px 8px 1px inset;
    cursor: pointer;
    border: none;
}

.clear-button {
    width: 60px;
    background-color: orangered;
    color: white;
    font-size: 25px;
}

button:active {
    transform: translateY(2px);
}

.dot-button {
    margin-right: 15px;
}

.orange-button {
    color: white;
    width: 267px;
}

.grey-button {
    color: white;
}